---
import Section from "@/components/Section.astro"
---

<Section id="about-me" title="Sobre mi">
  <div id="content-section" class="px-2 border-l-3 border-l-accent">
    <p>
      Soy un joven apasionado por la programación y el desarrollo de aplicaciones, me encanta el
      diseño web y el trabajo en la capa frontend, tengo una sólida base de conocimientos en esta
      área tales como manejo de frameworks frontend como REACT, TailwindCss, Nextjs, habilidades en
      maquetación de interfaces accesibles con HTML y comunicación con servicios backend mediante
      APIs rest.
    </p>
    <p>
      Me gusta hacer siempre las cosas de la mejor manera y encontrar soluciones que no solo
      funcionen, si no que se destaquen por su legibilidad, mantenibilidad y profesionalismo.
    </p>
  </div>
</Section>

<style>
  p {
    text-align: justify;
    font-size: 1.1rem
  }
</style>
