---
import "@fontsource/poppins";
import NavBar from "@/sections/NavBar.astro";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Andrés Silva - Web Developer</title>
  </head>
  <body class="bg-background">
	<NavBar/>
    <div class="container max-w-6xl mx-auto px-6 flex flex-col gap-20 pb-30">
      <slot />
    </div>

    <script type="module" src="https://unpkg.com/ionicons@8.0.13/dist/ionicons/ionicons.esm.js"
    ></script>
    <script nomodule src="https://unpkg.com/ionicons@8.0.13/dist/ionicons/ionicons.js"></script>
  </body>
</html>

<style is:global>
  html {
    color: var(--color-text);
    font-family: "Poppins", 'sans-serif';
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    width: 100%;
    min-height: 100dvh;
  }
</style>
